.App {
  text-align: center;
}

span {
  color: red;
}
/* Css per la creazione degli eventi*/

.createEventPage {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.createEventPage label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.createEventPage input,
.createEventPage textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.createEventPage button {
  background-color: #007bff;
  color: #fff;
  border: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.createEventPage button:hover {
  background-color: #0056b3;
}

/* Css per la creazione degli eventi*/

.addLocationPage {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.addLocationPage label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addLocationPage input,
.addLocationPage textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.addLocationPage button {
  background-color: #007bff;
  color: #fff;
  border: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.addLocationPage button:hover {
  background-color: #0056b3;
}

/*Css navbar*/
.navbar {
  background-color: #333; /* Colore di sfondo */
  padding: 10px 20px; /* Spaziatura interna */
}

.navbar a {
  color: white; /* Colore del testo */
  text-decoration: none; /* Rimuove la sottolineatura */
  margin-right: 20px; /* Margine a destra tra i link */
  padding: 8px 12px; /* Spaziatura interna dei link */
  border: 1px solid transparent; /* Bordo trasparente */
  border-radius: 4px; /* Bordi arrotondati */
  background-color: #333133;
}

.navbar a:hover {
  background-color: #555; /* Cambia il colore di sfondo al passaggio del mouse */
}

.navbar a:first-child {
  margin-right: auto; /* Sposta il primo link a sinistra */
}

/* Css per la visione delle location*/

.locationListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationListItem {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.locationListItem .nome {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.locationListItem .indirizzo {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.locationListItem .descrizione {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.locationListItem .nPosti {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

/* Stile pagina location singola*/

/* Stili per la pagina di visualizzazione della località */
.locationPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Stili per la colonna sinistra */
.leftSide {
  flex: 1;
  padding-right: 20px;
}

/* Stili per la colonna destra */
.rightSide {
  flex: 1;
  padding-left: 20px;
}

/* Stili per il nome della località */
.nome {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Stili per la descrizione della località */
.descrizione {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per l'indirizzo della località */
.indirizzo {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per il numero di posti disponibili della località */
.nPosti {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per la sezione recensioni */
.recensioni {
  font-size: 20px;
  color: #333;
}
