@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: 'Glamor Med Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-MediumExtended.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-MediumExtended.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-CondensedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-LightExtendedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-LightExtendedItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-Regular.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-MediumExtendedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-MediumExtendedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med';
    src: url('font/transfonter.org-20240610-100836/Glamor-Medium.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-BoldCondensedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-Extended.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-BoldExtended.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-BoldItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-LightCondensed.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-Bold.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-LightItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-Condensed.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-BoldCondensed.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-ExtendedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-ExtendedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-MediumCondensedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-MediumCondensedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-LightCondensedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-LightCondensedItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-LightExtended.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-LightExtended.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('font/transfonter.org-20240610-100836/Glamor-BoldExtendedItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-BoldExtendedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Cond';
    src: url('font/transfonter.org-20240610-100836/Glamor-MediumCondensed.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-Italic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('font/transfonter.org-20240610-100836/Glamor-Light.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med';
    src: url('font/transfonter.org-20240610-100836/Glamor-MediumItalic.woff2') format('woff2'),
        url('font/transfonter.org-20240610-100836/Glamor-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    /*background: url('./Img/background.jpg') no-repeat;*/
    background: #f3ece6;
    background-size: cover;
    background-position: center;
}

.login-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba( 255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-box h1 {
    font-size: 36px;
    text-align: center;
}

.login-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-box .btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.login-box .btn:hover {
    background: #fff;
    color: black;
}

.login-box .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.registration-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba( 255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.registration-box h1 {
    font-size: 36px;
    text-align: center;
}

.registration-box .input-box {
    position: relative;
    width: 100%;
    height: 38px;
    margin: 29px 0;
    margin-top: 6px;
}

.registration-box .btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #fff;
    border: 2;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.registration-box .btn:hover {
    background: #fff;
    color: black;
}

.registration-box .errore {
    margin: 2%;
    margin-top: 50%;
    margin-bottom: 50px;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    font-family: 'Glamor Med', Glamor-MediumItalic;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .btnLogin-popup {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    font-family: 'Glamor Med', Glamor-MediumItalic;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
    background: #fff;
    color: black;
}

.logo-navbar {
    font-family: 'Glamor', Glamor-Regular;
    color: #fff;
}

.navbar .link_login:hover::after {
    transform: scaleX(0);
}

.background-container {
    position: absolute;
    max-height: 3000000000px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1; /* Posiziona l'immagine dietro il contenuto */
    text-align: center; /* Allinea il testo al centro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-copertina {
    width: 1910px;
    height: auto;
    object-fit: cover;
}

.titolo {
    font-family: 'Glamor', Glamor-Regular;
    color: #fff;
    align-items: center;
    font-size: 125px;
    margin-top: -250px;
}


.center-content {
    max-width: 800px;
    padding: 20px;
    text-align: center; /* Allinea il testo al centro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testo1 {
    font-family: 'Glamor', Glamor-Regular;
    align-items: center;
    font-size: 60px;
}

.testo2 {
    font-family: 'Glamor', Glamor-Regular;
    align-items: center;
    font-size: 40px;
}

.testo3 {
    font-family: 'Glamor', Glamor-Regular;
    align-items: center;
    font-size: 25px;
}