@font-face {
    font-family: 'Glamor Med Ext';
    src: url('Glamor-MediumExtended.woff2') format('woff2'),
        url('Glamor-MediumExtended.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('Glamor-CondensedItalic.woff2') format('woff2'),
        url('Glamor-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Ext';
    src: url('Glamor-LightExtendedItalic.woff2') format('woff2'),
        url('Glamor-LightExtendedItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-Regular.woff2') format('woff2'),
        url('Glamor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Ext';
    src: url('Glamor-MediumExtendedItalic.woff2') format('woff2'),
        url('Glamor-MediumExtendedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med';
    src: url('Glamor-Medium.woff2') format('woff2'),
        url('Glamor-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('Glamor-BoldCondensedItalic.woff2') format('woff2'),
        url('Glamor-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('Glamor-Extended.woff2') format('woff2'),
        url('Glamor-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('Glamor-BoldExtended.woff2') format('woff2'),
        url('Glamor-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-BoldItalic.woff2') format('woff2'),
        url('Glamor-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Cond';
    src: url('Glamor-LightCondensed.woff2') format('woff2'),
        url('Glamor-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-Bold.woff2') format('woff2'),
        url('Glamor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-LightItalic.woff2') format('woff2'),
        url('Glamor-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('Glamor-Condensed.woff2') format('woff2'),
        url('Glamor-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Cond';
    src: url('Glamor-BoldCondensed.woff2') format('woff2'),
        url('Glamor-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('Glamor-ExtendedItalic.woff2') format('woff2'),
        url('Glamor-ExtendedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Cond';
    src: url('Glamor-MediumCondensedItalic.woff2') format('woff2'),
        url('Glamor-MediumCondensedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Cond';
    src: url('Glamor-LightCondensedItalic.woff2') format('woff2'),
        url('Glamor-LightCondensedItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Light Ext';
    src: url('Glamor-LightExtended.woff2') format('woff2'),
        url('Glamor-LightExtended.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Ext';
    src: url('Glamor-BoldExtendedItalic.woff2') format('woff2'),
        url('Glamor-BoldExtendedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med Cond';
    src: url('Glamor-MediumCondensed.woff2') format('woff2'),
        url('Glamor-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-Italic.woff2') format('woff2'),
        url('Glamor-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor';
    src: url('Glamor-Light.woff2') format('woff2'),
        url('Glamor-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glamor Med';
    src: url('Glamor-MediumItalic.woff2') format('woff2'),
        url('Glamor-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

